<!-- Template dasar -->

<!doctype html>
<html>
    <head>
        <title>{% block title %}{% endblock title %} | RelaQu</title>

        <!-- pasang dan sesuaikan file css seperti bawah ini -->
        <link href="{{ url_for('static', filename='css/tes.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        {% block main %}
        {% endblock main %}

        <!-- pasang dan sesuaikan file js seperti bawah ini -->
        <script src="{{ url_for('static', filename='js/tes.js') }}"></script>
    </body>
</html>